@import url('https://fonts.googleapis.com/css?family=Roboto:400');

#attendees {
  color: #8895A7;
  font-size: 18px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
 
::-webkit-scrollbar-thumb {
  background: #8895A7;
}