@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background: #212934;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

div {
  color: #5F6B7A;
}

ul {
  list-style-type: none;
  padding: 0;
}

.modal {
  position: absolute;
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  border-radius: 10px;
  background-color: #F5F7FA;
  overflow: hidden;
}

@media only screen and (min-width: 600px) {
  .modal {
    width: 500px;
  }
}

@media only screen and (max-width: 300px) {
  .modal {
    width: 200px;
  }
}

.header {
  width: 100%;
  height: 100px;
  background-color: #3183C8;
}

.title {
  padding: 20px 0 0 20px;
  margin: 0;
  font-size: 15px;
  line-height: 150%;
  color: #AAD4F5;
  font-weight: bold;
}

.title > span {
  display: block;
  font-size: 40px;
  padding-top: 10px;
  color: #FFFFFF;
}

.header > i {
  position: absolute;
  color: #AAD4F5;
  font-size: 20px;
  top: 15px;
  right: 20px;
}

.actions {
  border-bottom: solid 1px #CFD6DE;
}

.btn {
  cursor: pointer;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: #5F6B7A;
  font-weight: bold;
  background-color: #FFFFFF;
  border: solid 1px #CFD6DE;
  font-family: 'Roboto', sans-serif;
  transition: all 0.1s;
  font-size: 14px;
}

.actions > .btn {
  width: calc(50% - 30px);
  position: absolute;
  bottom: 20px;
}

#view {
  left: 20px;
}

#register {
  right: 20px;
}

.content {
  margin: 20px 20px 0 20px;
  height: calc(100% - 210px);
  box-sizing: border-box;
  overflow: auto;
  opacity: 1;
  transition: opacity 0.5s;
}

.subtitle {
  color: #5F6B7A;
  line-height: 0;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.info li {
  padding-bottom: 20px;
}

.info li > i {
  vertical-align: top;
  margin-right: 10px;
  font-size: 25px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #63A2D7;
  border-radius: 40px;
  color: #fff;
}

.info li > div {
  display: inline-block;
}

#attendees {
  color: #8895A7;
  font-size: 18px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
 
::-webkit-scrollbar-thumb {
  background: #8895A7;
  border-radius: 5px;
}

.hide {
  opacity: 0;
  transition: opacity 0.3s;
}